.logo {
    background-image: url("../images/dispro-logo-102x102_corrected.png");
}

.menubar {
    font-weight: 600;
}

.header {
    color: red !important;
    background-color: green !important;
    border: 1px solid red;
}

.tei-header * {
    color: red;
}
